{block content}

{='app.someText'|translate}

{='message'|translate}

{='home.title'|translate}
{='home.text'|translate}
{='home.homeCount'|translate:['count' => 2]}
{$modelTranslation}
{$nestedTranslation}
