{block content}

{='app.someText'|translate}

{='message'|translate}

Title: {='title'|translate}
Text: {='text'|translate}
Počet: {='home.homeCount'|translate:['count' => 2]}
Model: {$modelTranslation}
