application:
	mapping:
		*: Wavevision\NamespaceTranslatorTests\App\*Module\Presenters\*Presenter

decorator:
	Nette\Application\UI\Control:
		inject: true

session:
	autoStart: false

extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	namespaceTranslator: Wavevision\NamespaceTranslator\DI\Extension

translation:
	locales:
		default: cs
		fallback: [cs]
		whitelist: [cs, en]
	dirs: [%appDir%/translations]

namespaceTranslator:
	export:
		google:
			credentials: %vendorDir%/../temp/credentials.json
			sheetId: '1yyLcWaBh5OiLcouMr0xhCqu4o_xLrJKc2tIuupVW8LE'
			parts:
				- directory: %vendorDir%/../tests/NamespaceTranslatorTests/App
				  tabName: App
		csv:
			parts:
				- directory: %vendorDir%/../tests/NamespaceTranslatorTests/App
				  filename: %vendorDir%/../temp/export.csv

services:
	router: Wavevision\NamespaceTranslatorTests\App\Router\RouterFactory::createRouter
	- Wavevision\NamespaceTranslatorTests\App\Components\OtherComponent\OtherComponentFactory
	- Wavevision\NamespaceTranslatorTests\App\Components\SomeComponent\SomeComponentFactory
	- factory: Wavevision\NamespaceTranslatorTests\App\Models\Translated\Model
	  inject: true
	- factory: Wavevision\NamespaceTranslatorTests\App\Models\Translated\Other
	  inject: true
