application:
	mapping:
		*: Wavevision\NamespaceTranslatorTests\App\*Module\Presenters\*Presenter

decorator:
	Nette\Application\UI\Control:
		inject: true

session:
	autoStart: false

extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	namespaceTranslator: Wavevision\NamespaceTranslator\DI\Extension

translation:
	locales:
		default: cs
		fallback: [cs]
		whitelist: [cs, en]
	dirs: [%appDir%/translations]

services:
	router: Wavevision\NamespaceTranslatorTests\App\Router\RouterFactory::createRouter
	- Wavevision\NamespaceTranslatorTests\App\Components\OtherComponent\OtherComponentFactory
	- Wavevision\NamespaceTranslatorTests\App\Components\SomeComponent\SomeComponentFactory
	- factory: Wavevision\NamespaceTranslatorTests\App\Models\Translated\Model
	  inject: true
